<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verificar Cuenta</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-blue-100 h-screen flex items-center justify-center">
<div class="bg-white p-8 rounded shadow-md w-full max-w-sm">
    <h2 class="text-2xl font-bold mb-6 text-center text-blue-600">Verificar Cuenta</h2>
    <form th:action="@{/verificar}" method="post">
        <label for="codigo" class="block text-sm font-medium text-gray-700">Código de Verificación</label>
        <input type="text" id="codigo" name="codigo" maxlength="6" inputmode="numeric" pattern="[0-9]{6}" required
               class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
               oninput="this.value = this.value.replace(/[^0-9]/g, '');">
        <button type="submit"
                class="w-full mt-4 bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Verificar
        </button>
    </form>
</div>
</body>
</html>
